<div id="user_header">
	<h1> - <%= @user.name %> home page - </h1>
	<h2>Event list</h2>
</div>
<div id="events">
<ul>
	<% @events.each do |event| %>
		<li><%= event.place %> | <%= event.date %></li>
	<% end %>
</ul>
</div>
<div class="links">
	<%= link_to "Create new event", '#' %> |
	<%= link_to "Back to index", root_url %>
</div>