<div class="links">
	<%= link_to "Create a new user", new_user_path %> |
	<% if logged_in? %>
		<%= link_to "Log out", logout_path, method: :delete %> |
		<%= link_to "My page", user_path(current_user) %> |
	<% else %>
		<%= link_to "Log in", login_path %> |
	<% end %>
	<%= link_to "List events", events_path %>
</div>